page-product-detail {
    .product-image{
        height: 150px;
        margin: 0 auto;
    }

    .center-aligned{
        text-align: center;
        margin: 0 auto;
    }

    .price-tag{
        color: #5cb85c;
    }
}
