<ion-header>
  <ion-navbar>
    <ion-title>
      Product Search
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="myInput" showCancelButton (ionInput)="onInput($event)">
  </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-row>
        <ion-col col-9 (click)="onSelectProduct(product)">
          <ion-row class="product-details">
            <ion-col col-4>
              <img class="img-responsive" src="{{product.pimage}}" />
            </ion-col>
            <ion-col col-8>
              <h2>{{product.pname}}</h2>
              <p style="margin-bottom:10px;">
                {{product.pdesc | limitTo:[32]}}
              </p>
              <h3>{{product.prate | currency: 'INR'}}</h3>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <button class="cart-button" float-right ion-button (click)="buyProduct(product)">
            Buy
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
    <h1 *ngIf="!products.length">No Products found</h1>
  </ion-list>
</ion-content>
